div#memory_board, div#main_menu, div#end_game{
    background:#CCC;
    border:#999 1px solid;
    width:90%;
	min-width: 320px;
    height:450px;
    padding:2%;
    padding-top: 18px;
    margin:0 auto;
    position: relative;
    text-align: center;
}


p{
	font-size:36px;	
}

#ekranPowitalny, #ekranRejestracji, #ekranLogowania{
        width: 600px;
        height: 500px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
   		text-align: center;
}
#contentWrap{
	width: 800px;
        height: 650px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
}

.naSrodek {
   display: inline-block; vertical-align: top;
}

.flip3Dclick {
    display: inline-block;
    text-align:center;
    cursor:pointer;
    margin: 1%;
    padding-bottom:10%;
    position: relative;
}
.flip3Dclick > .front{

    text-align:center;
    cursor:pointer;
    padding:0;
    position: absolute;
    transform:perspective(600px) rotateY(0deg);
    -webkit-transform:perspective(600px) rotateY(0deg);
    background: blueviolet;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;

}
.flip3Dclick > .back{

    text-align:center;
    cursor:pointer;
    padding:0;
    float:left;
    position: absolute;
    transform:perspective(600px) rotateY(180deg);
    -webkit-transform:perspective(600px) rotateY(180deg);
    background: seashell;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}
.flip3Dclick > .back img {
    margin:5%;
    width: 90%;
    height: auto;
}
#koniec{
    position: absolute;
    top: 0;
}
#score{
    position: absolute;
    top:0;
    left:80px;
}

#to_memory_board{
    width: 160px;
    height: 80px;
    bottom:20px;
}
#to_end_game{

    top:100px;
    width: 160px;
    height: 80px;

}

#wyslij {

    bottom: 20px;
    width: 160px;
    height: 80px;
}
button, input{
    height:30px;
}
.przycisk{
    margin: 30px;
    width: 40px;
    height: 40px;
}
span{
    margin:10px;
}
#rows, #columns, #wynik_span, #kafelki_span{
    font-size: x-large;
}
button{
    font-size:x-large;
}
#chat {
    height: 500px;
}
#contentWrap {
    display: none;
}
#chatWrap {
    float: left;
    border: 1px #000 solid;
}
.error {
    color: red;
}
.whisper {
    color: gray;
    font-style: italic;
}
#punkty_przeciwnika, #punkty_gracza{
	
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #F7120A;
	font-size: 30;
	padding: 5;
	font-weight: bold;


}

#nazwa_gracza, #nazwa_przeciwnika{
	
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #000000;
	font-size: 24;
	padding: 5;
	font-weight: bold;
}
#wynik_gracza{
			position:absolute;
		
		width: 150px;
		bottom: 10px;
        height: 70px;
		left: 5px;
		}
		#wynik_przeciwnika{
			position:absolute;
		
		width: 150px;
		bottom: 10px;
        height: 70px;
		right: 5px;
		}
		#wyslij,#wyslij1 {
	    position: absolute;
    width: 150px;
    bottom: 0;
    /* height: 70px; */
    /* left: 5px; */
    /* bottom: 2; */
    /* padding-top: 1; */
    /* margin-top: 2; */
    height: 30px;
    right: 25%;
    left: 50%;
    margin-left: -75;  
        }
		#twojRuch{
			    margin-top: 10;
    			font-size: xx-large;
				display: inline-block;
				color:#30F;

		}
		#twojRuch{
   
    
    position: relative;
    -webkit-animation-name: shakeme; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	-webkit-transform-origin:50% 50%;
	-webkit-animation-timing-function:linear;
    animation-name: shakeme;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
	transform-origin:50% 50%;
	animation-timing-function:linear;
}
.gracz{
 	width:130px;
	float:left;
	margin: 5px;
}
#users{
	float:left;
	min-width:150px;
	    text-align: center;
}
#legenda{

   

}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes shakeme {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); 
					transform: translate(2px, 1px) rotate(0deg);
					-ms-transform: translate(2px, 1px) rotate(0deg);}
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg);
				transform: translate(-1px, -2px) rotate(-1deg); 
				-ms-transform: translate(-1px, -2px) rotate(-1deg);}
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shakeme {
        0% { transform: translate(2px, 1px) rotate(0deg);}
	10% {transform: translate(-1px, -2px) rotate(-1deg);}
	20% {transform: translate(-3px, 0px) rotate(1deg); }
	30% {transform: translate(0px, 2px) rotate(0deg); }
	40% {transform: translate(1px, -1px) rotate(1deg); }
	50% {transform: translate(-1px, 2px) rotate(-1deg); }
	60% {transform: translate(-3px, 1px) rotate(0deg); }
	70% {transform: translate(2px, 1px) rotate(-1deg); }
	80% {transform: translate(-1px, -1px) rotate(1deg); }
	90% {transform: translate(2px, 2px) rotate(0deg); }
	100% {transform: translate(1px, -2px) rotate(-1deg); }
}

		
        button, input#wyslij, input#wyslij1{
            height:30px;
		}
		
		
<!--do formularzy-->
    input:required:invalid, input:focus:invalid {
        background-image: url(http://www.the-art-of-web.com/images/invalid.png);
        background-position: right top;
        background-repeat: no-repeat;
    }
input:required:valid {
    background-image: url(http://www.the-art-of-web.com/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
<!--do formularzy end-->

/*table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
*/
/*
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
*/
#outertabela{
	
	overflow: hidden;
    float: right;
    height: 100%;
    max-height: 100%;
	
}
#tabela{
	
        height: 520;
    max-height: 520px;
    overflow-y: scroll;
	    min-width: 200px;
}

#kimJestem{
	
	height: 30px;
	
}
